body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 50vh;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    border: 1px solid black;
}
